
.mainHeader {
  display: flex;
  justify-content: space-between;
}



.mainHeader p {
  font-size: 1.0rem;
}
.describe {
  max-width: 100rem;
  font-size: 1.2rem;
}

.mainHeader img {
  max-height: 80px;
  border-radius: 200%;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  img {
    width: 4.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
