<div class="right-column">
  <div class="skills-section">
    <h3 class="header-item component center shadow">SKILLS & TOOLS</h3>
    @for (group of skills; track group.title) {
    <h3 class="group-title center">{{ group.title }}</h3>
    <div class="skills-grid">
      @for (skill of group.items; track skill.name) {
      <div class="skill-card">
        <div class="icon-wrapper">
          <img [src]="skill.icon" [alt]="skill.name" loading="lazy" />
        </div>
        <p class="skill-name">{{ skill.name }}</p>
      </div>
      }
    </div>
    }
  </div>

  <div class="certificates">
    <h3 class="header-item component center shadow">CERTIFICATES</h3>
    <p>Certificates in Cloud (10/2021 - Present)</p>
    <p>
      <a
        href="https://drive.google.com/drive/folders/1wc-Fp55sQIBlDa8tC51AefjmvB7Zduby?usp=drive_link"
        target="_blank"
        ><img
          width="70"
          src="https://skillicons.dev/icons?i=gcp&theme=light&perline=15"
          alt="Google Drive"
          title="Google Drive"
        />
      </a>
      <a
        href="https://www.icloud.com/iclouddrive/02bTdSb9zw4P3g6Ik266t8E0Q#Certificates"
        target="_blank"
        ><img
          width="70"
          src="https://skillicons.dev/icons?i=apple&theme=light&perline=10"
          alt="ICloud"
          title="ICloud"
        />
      </a>
    </p>
  </div>

  <div class="languages">
    <h3 class="header-item component center shadow">LANGUAGES</h3>
    <p>Bulgarian - Native or Bilingual Proficiency</p>
    <p>English - Limited Working Proficiency</p>
  </div>

  <div class="sports">
    <h3 class="header-item component center shadow">SPORTS</h3>
     @for (group of sports; track sports) {
    <span class="center sport-items">{{ group.title }}</span>
    }
  </div>
</div>
