.left-column {
  float: left;
  width: 45%;
  padding-top: 20px;
}

.education,
.work-experience,
.skills,
.certificates,
.languages,
.sports {
    margin-bottom: 20px;
}

h4 {
    margin: 0;
    font-size: 1.2em;
    color: #d8e1ef;
}

.education-item,
.work-item {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.education-item p,
.work-item p {
    margin: 5px 0;
    padding-left: 20px;
}

.education-item a ,
.text
{
            color: #d8e1ef;

}

.skills p,
.certificates p,
.languages p,
.sports p {
    margin: 5px 0;
    padding-left: 20px;
}

.company {
    color: #4185cd;
    border-bottom: 2px solid #ddd;
}

.role {
    padding-left: 20px;
}

.work-item span {
    padding-left: 40px;
}

a {
    color: #35134c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.photo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: right;
}

.period {
        color: #d8e1ef;
    font-size: small;
    font-style: italic;
}
