.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin-top: 4px;
}


.links {
    color: rgb(170, 167, 120);
}


.form {
     display: flex;
}


/* From Uiverse.io by adamgiebl */ 
button {
  font-family: inherit;
  font-size: 18px;
  background: rgb(113, 121, 145);
  color: white;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.8s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media (max-width: 768px) {
  .contact-info{
    flex-direction: column;

  }
 }
