.component {
    background: linear-gradient(90deg, #86afc0 15%, #5962bd 86%);
    border-radius: 12px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 20 0 20;
    padding: 0;
}

html {
    background: linear-gradient(90deg, #4B0082 45%, #E6E6FA 63%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 75%;
    border: thick solid #9eb1c4;
}

.center {
    text-align: center;
}